{% extends 'base.html.twig' %}

{% block title %}Modifier
{% endblock %}
{% block body %}
<h3>Modifier</h3>
	{{ form_start(form) }}
	{{ form_row(form) }}
	<button type="submit">Modifier</button>
{{ form_end(form) }}
	
{% endblock %}