{% extends 'base.html.twig' %}

{% block title %}Inventaire{% endblock %}

{% block body %}
<div class="page-title">
    <h3>Inventaire</h3>
</div>
<div class="section-name">
    <h4>Pour quel bâtiment ?</h4>
</div>

{% endblock %}
