<h1>Bonjour, {{user.firstName}} ! </h1>
<h2>Vous pouvez réinitialiser votre mot de passe en cliquant sur ce lien : </h2>
<p>Vous n'avez pas demandé réinitialisation de mot de passe ?</p>
<p>Ignorez ce message, et pensez à changer votre mot de passe ! </p>
