{% extends 'base.html.twig' %}

{% block title %}Success
{% endblock %}
{% block body %}
<h4> {{member.firstName}} / {{member.jpFirstName}} a été ajouté dans la famille {{family.name}} / {{family.jpName}} avec success ! </h4>
{% endblock %}