{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="static">
        <h3>Politique de confidentialité</h3>
        
          <p>Dernière mise à jour : {{ "now"|date("m/Y") }}</p>
        
          <h3>1. Introduction</h3>
          <p>
            Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les données personnelles des utilisateurs de ce site.
            Nous nous engageons à respecter la confidentialité de vos informations conformément au Règlement Général sur la Protection des Données (RGPD).
          </p>
        
          <h3>2. Données collectées</h3>
          <p>
            Nous pouvons collecter certaines informations personnelles, telles que :
          </p>
          <ul>
            <li>Nom et prénom</li>
            <li>Adresse e-mail</li>
            <li>Données de connexion (adresse IP, navigateur, etc.)</li>
          </ul>
        
          <h3>3. Finalité de la collecte</h3>
          <p>
            Ces données sont collectées dans le but de :
          </p>
          <ul>
            <li>Permettre le bon fonctionnement du site</li>
            <li>Répondre à vos demandes de contact</li>
            <li>Améliorer l’expérience utilisateur</li>
          </ul>
        
          <h3>4. Conservation des données</h3>
          <p>
            Les données sont conservées uniquement le temps nécessaire à la réalisation des finalités pour lesquelles elles ont été collectées.
          </p>
        
          <h3>5. Sécurité</h3>
          <p>
            Nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger vos données personnelles contre tout accès non autorisé.
          </p>
        
          <h3>6. Vos droits</h3>
          <p>
            Conformément au RGPD, vous disposez des droits suivants :
          </p>
          <ul>
            <li>Droit d’accès à vos données</li>
            <li>Droit de rectification ou de suppression</li>
            <li>Droit d’opposition et de limitation du traitement</li>
          </ul>
          <p>
            Pour exercer vos droits, vous pouvez me contacter 
          </p>
        
          <h3>7. Cookies</h3>
          <p>
            Ce site peut utiliser des cookies à des fins de statistiques ou pour améliorer l’expérience utilisateur.
            Vous pouvez configurer votre navigateur pour refuser ou supprimer les cookies.
          </p>
        
          <h3>8. Contact</h3>
          <p>
            Pour toute question concernant cette politique de confidentialité, vous pouvez m'écrire <a href="https://www.linkedin.com/in/miyuki-cherbal-b79887366" target="_blank" rel="noopener noreferrer">ici</a>.
          </p>
    </div>
{% endblock %}