<div class="card one-card alert-card">
    <div class="card-title">
        <h4>Cet inventaire est en cours. Impossible de supprimer.</h4>
    </div>
        <div class="btn-wrapper">
                <div class="href-btn"><a href="{{path('inventory',{tab:'search'})}}">OK</a></div>
        </div>
</div>
