{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un message vient de vous être envoyé avec un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans  {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d’e-mail, vérifiez votre dossier de courrier indésirable ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
