<h3>Ajouter une nouvelle famille</h3>

{{ form_start(form) }}
    {{ form_row(form) }}

    <p>Ajouter des membres de la famille dans la page suivante</p>
    <button type="submit">Ajouter</button>
{{ form_end(form) }}


