{% extends 'base.html.twig' %}

{% block title %}Liste familles
{% endblock %}

{% block body %}
	<form action="" method="POST">
		<h3>Chercher par famille</h3>
		<input type="text" id="family_name" name="family_name" placeholder="Nom de famille…"/>
		<button type="submit">Rechercher</button>
	</form>
	{% if searchedFamilies is defined %}
		<ul>
			{% for family in searchedFamilies %}
				<li>
					<a href="{{ path('show-family', {id: family.id}) }}">
						{{family.name}}
					</a>
				</li>

			{% endfor %}
		</ul>

	{% endif %}
		{% if currentFamily is defined %}
			<h3>
				{{currentFamily.name}}
			</h3>
		{% endif %}
		


{% endblock %}
