{% extends 'base.html.twig' %}
{% block title %}Liste familles{% endblock %}

{% block body %}

	<ul>
        {% for family in families %}
            <li> {{family.name | upper}} / {{family.jpName}} </li>
            {% else %}
                <li>Aucune famille trouvée</li>
        {% endfor %}
    </ul>

{% endblock %}
