<div class="card one-card alert-card">
    <div class="card-title">
        <h4>Voulez-vous vraiment supprimer cette famille ?</h4>
    </div>
    <div class="card-body">
        <div class="detail">
            <div class="detail-item item-label">
                <p>Nom de famille</p>
                <p>Nom de famille (JP)</p>
                <p>Email</p>
            </div>
            <div class="detail-item">
                <p>: {{ familyToDelete.name }}</p>
                <p>: {{ familyToDelete.jpName }}</p>
                <p>: {{ familyToDelete.email }} </p>
            </div>
        </div>

    </div>
        <div class="btn-wrapper">
            <form method="POST">
                <button class="btn-form btn-alert"type="submit">Supprimer</button>
            </form>
                <div class="href-btn cancel-btn"><a href="{{path('show-family',{id:familyToDelete.id})}}">Annuler</a></div>
        </div>
</div>


