<div class="card one-card alert-card">
    <div class="card-title">
        <h4>Cette famille a un ou plusieurs prêts en cours. Vous ne pouvez pas la supprimer.</h4>
    </div>
        <div class="btn-wrapper">
                <div class="href-btn cancel-btn"><a href="{{path('show-family',{id:familyHasLoan.id})}}">OK</a></div>
        </div>
</div>


