<div class="card one-card success-card">
	<div class="card-title">
		{{successMessage}}
	</div>
	<div class="icon-success"></div>
	{% if addedFamily is defined and addedFamily is not null %}
		<div class="btn-wrapper">
			<div class="href-btn">
				<a href="{{path('new-member',{id:addedFamily.id})}}">Ajouter un enfant</a>
			</div>
		</div>
	
	{% endif %}

</div>



