<div class="card one-card success-card">
	<div class="card-title">
		{{successMessage}}
	</div>
	<div class="icon-success"></div>
	{% if edited is defined and edited is not null %}
		<div class="href-btn">
			<a href="{{path('show-family',{id:edited.id})}}">Voir la famille</a>
		</div>
	{% elseif addedFamily is defined and addedFamily is not null%}
		<div class="href-btn">
			<a href="{{path('show-family',{id:addedFamily.id})}}">Voir la famille</a>
		</div>
	{% endif %}

</div>
