body {
  background-color: var(--color-background);
  color: var(--color-text);
  border-color: var(--color-text);
  text-align: center;
  font-family: var(--font-main);
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-family: var(--font-sub);
  font-size: var(--font-s);
}
h2 {
  font-size: var(--font-l)
}

h3 {
  font-size: var(--font-m)
}
li {
  list-style: none;
  padding: 0.5rem;
  text-align: start;
}

a{
  text-decoration: none;
  color: var(--color-text);
}
.page-wrapper{
  min-height: 100vh;
}
.no-display{
  display: none;
}
p{
  font-family: var(--font-sub);
}
form p{
  font-weight: 600;
}
