:root {
  /* colors */
  --color-primary: #debaff;
  --color-btn:#ca91ff;
  --color-text: #1c2176;
  --color-secondary: #b9faff;
  --color-cameleon: #8affc6;
  --color-badet:#B9FAFF; 
  --color-f: #ffabe1;
  --color-mba: #faff9b;
  --color-alert: #ffbabb;
  --color-btn-hover:#9DFF9B ;
  --color-edit: #c9ffba;
  --color-background: #fefefe;
  --color-cards: #ffffff;
  --color-admin:#a9b9fa;
  --color-btn-alert:#ff9596;

  /* font-size */
  --font-xs: 0.875rem; 
  --font-s: 1rem; 
  --font-m: 1.125rem; 
  --font-l: 1.25rem; 
  --font-xl: 1.5rem; 
  --font-title: 2rem; 

  /* font-family */
  /* --font-main: "Sulphur Point", sans-serif; */
  --font-main: "MuseoModerno", sans-serif;
  --font-sub: "Outfit", sans-serif;

  /*border-raius*/
  --border-radius : 1.5rem;
 
} 

/* Tablette : max-width 1024px */
@media (max-width: 1024px) {
  :root {
    --font-xs: 0.8rem;
    --font-s: 0.9rem;
    --font-m: 1rem;
    --font-l: 1.125rem;
    --font-xl: 1.25rem;
    --font-title: 1.75rem;
  }
}

/* Mobile : max-width 768px */
@media (max-width: 768px) {
  :root {
    --font-xs: 0.75rem;
    --font-s: 0.85rem;
    --font-m: 0.95rem;
    --font-l: 1.05rem;
    --font-xl: 1.2rem;
    --font-title: 1.5rem;
  }
}
