{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="form-title">
			<h3>Créer un compte</h3>
			<img src="{{ asset('img/start.svg') }}" alt="login">
		</div>
		{{ (form_start(registerForm)) }}
		{{ (form_row(registerForm)) }}
		<button type="submit">S'inscrire</button>
		{{ (form_end(registerForm)) }}
	</div>
{% endblock %}
