.card {
  background: var(--color-cards);
  border-radius: 10px;
  box-shadow: 0 0 0 2px var(--color-text); 
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: max-content;
  padding:1rem 2rem 1.5rem 2rem;
  margin:2rem;
  font-family: var(--font-sub);
}
.card.home-card{
  width: 18rem;
}
.card.home-card img{
  width: 80px;
}
@media (max-width: 768px) {
  .card.home-card{
    font-size: var(--font-xs);
    padding:1rem 0.5rem;
    gap: 1rem;
    margin: 0.8rem;
  }
  .card img.book-cover{
    width: 40px;
    height: 40px;
  }
  .card{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-s);
    padding: 1rem;
  }

.card.home-card img{
  width: 60px;
}
}
.card.one-card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.card.one-card.alert-card{
  margin-top: 0rem;
}
.inventory-card{
  background-color: var(--color-cards);

}

.inventory-card .book-details{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.cards-wrapper {
  max-width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
}

.card-body {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:768px) {
  .card-body{
    gap: 0.5rem;
  }
}
.card-body.family-wrapper{
  display: block;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  justify-items: center;
  padding: 1rem 1rem;
}
@media (max-width:768px) {
  .cards-container{
    padding: 0;
  }
  .cards-wrapper{
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.return-book {
  background: none;
  border: none;
  color: var(--color-text);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return-book span {
  font-size: 12px;
  margin-top: -4px;
  color: var(--color-text);
}

.detail{
  display: flex;
  align-items: start;
}
.detail p{
  margin: 0.5rem;
}
.detail.book-details{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-label{
  font-weight: 600;
}
.detail-item.detail-book.item-label p:last-child{
  margin-top: 0.5rem;
}
.detail-item{
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: left;
}
.detail-item:last-child{
  margin-left: 0.5rem;
}

.detail-item p{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.form-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.form-item p{
  margin-top: auto;
  margin-bottom: auto;
  line-height: 100%;
  margin-right: 0.5rem;
}

img.book-cover {
  width: 80px;
  height: 80px;
  background-color:white;
}
@media (max-width:768px) {
  img.book-cover{
    width: 40px;
    height: 40px;
  }
}

.card-title{
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-main);
}
.card-title-family{
  margin-top: 2rem;
}
.title-border{
  background-color: var(--color-mba);
  padding: 0.5rem 1rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border: solid 1px var(--color-text);
}
.home-cards-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-card:hover {
  transform: translateY(-6px);
  background-color: var(--color-btn-hover);
  transition: 0.3s ease;
}

.alert-card{
  background-color: var(--color-alert);
}


.icon span{
  display: none;
}

.card-header .icon{
  margin-left: 0.5rem;
}
.card-header .edit-icon a{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../img/pencil.svg");
  background-size: cover;
}
.card-header .delete-icon a{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../img/trush.svg");
  background-size: cover;
}

.card-header .edit-icon a:hover{
  width: 28px;
  height: 28px;
  background-image: url("../../img/edit-hover.svg");
}
.card-header .delete-icon a:hover{
  width: 28px;
  height: 28px;
  background-image: url("../../img/trush-hover.svg");
}
/* .card-header .edit img{
  
} */
.icon-success{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/happy.svg");
  background-size: cover;
}
.success-card{
  background-color: var(--color-badet);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
@media (max-width:768px) {
  .success-card .btn-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.icon-alert{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../img/neutral.svg");
  background-size: cover;
}
.edit-wrapper{
  background-color: var(--color-badet);
}
.form-wrapper{
  display: flex;
  gap: 1rem;
}
.new-form{ 
  background-color: transparent;
}

