.location{
  display: inline-block;
  border: 1px solid var(--color-text);
  padding: 0.3rem 0.5rem;
  margin-top: 0;
  border-radius: 10px;
  font-weight: bold;
  color: var(--color-text);
  text-align: center;
  width: 7.5rem;
}

.location.cameleon{
  background-color: var(--color-cameleon);
}
.location.f{
  background-color: var(--color-f);
}
.location.badet{
  background-color: var(--color-badet);
}
.location.mba{
  background-color: var(--color-mba);
}
