.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px; 
}

.result-list li {
  width: 100%;
  margin-bottom: 0.5rem;
}

.result-list li a {
  display: block;
  padding: 0.75rem 1rem;
  font-weight: 500;
}

.result-list li a:hover {
  font-weight: 800;
  text-decoration: underline;
}

.no-result{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px; 
  padding: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-top: 1rem;
}
.no-result.no-loan{
  border: solid 1px var(--color-text);
  margin-bottom: 1rem;
}

@media (max-width:768px) {
  .no-result{
    width: max-content;
  }
}

.result-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px; 
  height: 50px;
  margin-top: 1rem;
}
.result-icon.empty {
  background-image: url(../../img/empty.svg);
}
.result-icon.happy{
  background-image: url(../../img/happy.svg);
}