.switch{
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: var(--color-text) solid 2px;
    font-family: var(--font-sub);
    font-weight: 600;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: auto;
    display: flex; 
    gap: 0.5rem;   
}
@media (max-width: 768px) {
    .switch{
        margin-right: auto;
        font-size: var(--font-s);
    }
}
.switch.admin{
    background-color: var( --color-admin);
}
.switch.librarien{
    background-color: var(--color-primary);
}

.switch:hover{
    background-color: var(--color-btn-hover);
}
.switch-icon{
    background-image: url(../../img/change.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
