.current-family-container hr {
  color: var(--color-text);
  margin-top: 3rem;
  width: 60%;
}
.section-container {
  margin-top: 2rem;

  display: block;
  padding: 0.5rem 1.5rem;
}

.name-container {
  display: inline-block;
  margin: 1 auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-text);
  border-radius: 1rem;
  font-weight: 700;
}

.account-name {
  font-size: var(--font-l);
  font-weight: 800;
}

.section-name.blue {
  background: var(--color-cameleon);
}
.section-name.yellow {
  background: var(--color-mba);
}
.section-name.orange{
  background: var(--color-alert);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 1rem;
}

.page-title {
  margin-top: 0.5rem;
}
.page-title h2 {
  margin-top: 0;
}
.page-title img {
  width: 60px;
}
@media (max-width: 768px) {
  .page-title img {
    width: 40px;
  }
}

.container {
  margin: 1rem;
}
.count-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .count-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.count {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inventory-loan-status ul {
  font-family: var(--font-sub);
  font-weight: 600;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 0;
}
.inventory-loan-status li:last-child{
  display: flex;
  gap: 0.5rem;
}
.inventory-loan-status li:last-child a {
  display: flex;
  gap: 0.2rem;
}
.inventory-loan-status li:last-child a:hover{
  color: var(--color-btn-hover);
}

.icon-right {
  background-image: url("../../img/right.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.cards-wrapper.overdue-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.total-loan-icon, .overdue-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.total-loan-icon{
  background-image: url(../../img/total.svg);
  
}
.overdue-icon{
  background-image: url(../../img/announce.svg);
}
.inventory-loan-status li{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.inventory-loan-status ul{
  display: flex;
  gap: 3rem;
}
@media (max-width: 768px) {
  .inventory-loan-status ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}


