.footer-content p{
  font-family: var(--font-sub);
  font-weight: 600;
  font-size: var(--font-xs);
}
.footer-content img{
  width: 7rem;
  height: auto;
}

#footer hr{
  color: var(--color-text);
  margin: 2rem 0;
}