.header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.header .header-top img {
  height: auto;
  width: 11rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color: var(--color-primary);
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 3rem;
  position: relative;
}

.header .nav-admin {
  background-color: var(--color-admin);
}

.header nav h2 {
  margin: 0;
  font-size: var(--font-xl);
}

.header .menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .menu .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  gap: 0.5rem;
}

.header .menu-text {
  font-size: var(--font-xs);
  white-space: nowrap;
}

.header .menu img {
  width: 23px;
}

.header .menu-item:hover .menu-text {
  color: var(--color-btn-hover);
}
.header .menu .menu-item a:hover{
  transform: translateY(-2px);
  transition: 0.3s ease;
}

p.sub-title {
  font-weight: 600;
  font-size: var(--font-xs);
}
.header .logout img{
  width: 30px;
}
@media (max-width:768px){
  .header .logout-wrapper .logout img{
    width: 26px;
  }
  .header .logout-wrapper{
    width: 45px;
    height: 45px;
    justify-content: center;
  }
}
.header .logout-wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
  
}

@media (max-width: 1024px) {
  

  .header .header-top img {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
  }
  .header .logout-wrapper .logout img{
    width: 26px;
  }

  p.sub-title {
    display: none;
  }
 
}

@media (max-width: 768px) {


  .header nav {
    margin-top: 1rem;
    padding: 0;
    justify-content: space-around;
  }
  .navbar ul{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
  ul.menu.menu-librarien{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
  }
  .header .menu{
    width: max-content;
    margin-left: auto;
    margin-right: auto;

  }
  
  
  .header nav h2{
    display: none;
  }

  .header .menu-text {
    display: none;          
  }

  .header .menu img {
    display: block;
    width: 26px;
  }

  .header .header-top{
    padding: 0;
    margin: 3rem 1rem 0 1rem;
}
  .header .header-top img {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

  p.sub-title {
    display: none;
  }
}

