 #header .header-top {
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header .header-top img{
  height: auto;
  width: 11rem;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: 600;
  background-color: var(--color-primary);
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#header .nav-admin{
  background-color: var(--color-badet);
}

#header nav h2 {
  margin: 0;
}

#header .menu {
  display: flex;
  margin: 0;
  column-gap: 6rem;
  padding: 0;
  align-items: center;

}

#header .menu .menu-item {
 display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  
}

#header .menu img{
  display: none;
  width: 30px;
  
}

#header .menu-text{
  font-size: var(--font-xs);
  white-space: nowrap;
  
}

#header .menu-item:hover img{
  display: block;
  
}

#header .menu-item:hover .menu-text{
  display: none;
  
}






