@import url('base/_variables.css');
@import url('base/_base.css');
@import url('layout/_header.css');
@import url('layout/_footer.css');
@import url('layout/_container.css');
@import url('layout/_tabs.css');
@import url('components/_form.css');
@import url('components/_card.css');
@import url('components/_location-labels.css');
@import url('components/_result.css');
@import url('components/_btn_card.css');
@import url('components/_btn_active.css');
@import url('components/_switch_btn.css');
@import url('pages/_login.css');
@import url('pages/_cookie.css');
@import url('pages/_home.css');
