<h1>Bonjour, {{user.firstName}} ! </h1>
<h2>Votre compte bibliothécaire a été créé</h2>
<p>Connectez-vous maintenant avec votre adress mail et le mot de passe suivant : </p>
<p>Votre mot de passe : {{pwd}} </p>
<p>Une fois connecté à votre compte, changez le mot de passe !</p>
