.login-container{
  display: block;
}
.checkbox{
  font-family: var(--font-sub);
  font-weight: 500;
}

.static a:hover{
    color: var(--color-btn-hover);
}
.static a{
  text-decoration: underline;
  text-decoration-color: var(--color-text);
}
.static{
  text-align: justify;
  margin: 3rem;
}
.static ul li{
  list-style: disc;
}


/*cookies*/
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}
@media (max-width:768px) {
  .cookie-banner{
    flex-direction: column;
    gap: 1rem;
  }
  .cookie-banner button {
    width: 100%;
  }
}

.cookie-banner button {
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
  border: none;
  background: #FD521C;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.cookie-banner button:hover {
  background: #e0481b;
}