<form action="{{path('loan-book',{id:bookToLoan.id})}}" method="POST">
	<h3 class="form-title">À quelle famille prêter ?</h3>
	<input type="text" id="loan_family" name="loan_family" placeholder="Nom de famille…"/>
	<button type="submit">Rechercher</button>
</form>
{% if searchedFamilies is defined and searchedFamilies is not null %}
	<div class="section-title">
		<h4>Résultats de recherche :
		</h4>
	</div>
	<div class="result-container">
		{% if searchedFamilies|length > 0 %}
			<ul class="result-list">
				{% for family in searchedFamilies %}

					<li>
						{{ family.name|upper }}
						/
						{{ family.jpName }}
						<a href="{{path('loan-book-family',{id: bookToLoan.id,family:family.id})}}" class="loanby-family href-btn">
							<div class="icon-right"></div>
							
								Prêter à cette famille
							
						</a>
					</li>

				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endif %}
{% if noResult is defined %}
	<div class="card one-card not-found">
		<div class="card-title">
			<h4>Aucune famille trouvée</h4>
			<div class="icon-not-found"></div>
		</div>
	</div>
{% endif %}
