    <form action="{{path('loan-book',{id:bookToLoan.id})}}" method="POST">
		<h3 class="form-title">Chosissez une famille au quelle prêter ce livre</h3>
		<input type="text" id="loan_family" name="loan_family" placeholder="Nom de famille…"/>
		<button type="submit">Rechercher</button>
	</form>
	{% if searchedFamilies is defined and searchedFamilies is not null %}
		<div class="section-title">
			<h4>Résultats de recherche :
			</h4>
		</div>
		<div class="result-container">
			{% if searchedFamilies|length > 0 %}
				<ul class="result-list">
					{% for family in searchedFamilies %}

						<li>
							{{ family.name|upper }}
							/
							{{ family.jpName }}
							<a href="{{path('loan-book-family',{id: bookToLoan.id,family:family.id})}}">
								Prêter à cette famille</a>
						</li>

					{% endfor %}
				</ul>
			{% else %}
				<p>Aucune famille trouvée !</p>
			{% endif %}
		</div>
	{% endif %}
