<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Import Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<div class="sub">
				<h1>Application de gestion des prêts des livres pour école japonaise</h1>
				<nav>
					<h2>Gérez les prêts de livres en toute simplicité</h2>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Prêts & Retours</a></li>
						<li><a href="">Inventaire</a></li>
						<li><a href="">Mon compte</a></li>
					</ul>

				</nav>
			</div>
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			<p>Application de gestion des prêts des livres pour école japonaise</p>
		{% endblock %}
	</body>
</html>
